@import "tailwindcss";

/* 1. Mendaftarkan warna identitas PMM Voyage ke dalam memori Tailwind v4 */
@theme {
  --color-navy: #0B192C;
  --color-gold: #D4AF37;
}

/* 2. Mengunci warna dasar agar tidak dirusak oleh Dark Mode bawaan OS */
body {
  background-color: #F8F9FA;
  color: #0B192C;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 3. Menghapus scrollbar bawaan browser agar UI terasa seperti aplikasi (Opsional tapi bikin mewah) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #F8F9FA;
}
::-webkit-scrollbar-thumb {
  background: #0B192C;
  border-radius: 10px;
}